NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

META_APP_ID=1277733273940202
META_BUSINESS_ID=151772715685180
META_BUSINESS_PHONE=5575981048077
META_GRAPH_API_VERSION=v26.0
META_PHONE_NUMBER_ID=
META_WABA_ID=1608227497696281
META_LEGACY_WABA_ID=105123576000000
META_LEGACY_PHONE_NUMBER_ID=113066075192899
META_ACCESS_TOKEN=
META_WEBHOOK_VERIFY_TOKEN=
META_APP_SECRET=
